---
layout: page
title: work
permalink: work/
---

<div class="page-header">
  <h1 class="page-title">Work</h1>
</div>

<div class="work-item-list">
  {% for work in site.work limit:5 %}
    <div class="work-item-wrap">
      <a class="work-item {{ work.title | downcase }}-work-item" href="{{ work.url }}"
      style="background-image: -webkit-linear-gradient(left top, {{ work.color1 }}, {{ work.color2 }});
              background-image: linear-gradient(to left top, {{ work.color1 }}, {{ work.color2 }});">
        <div class="work-item-contents">
          {% if work.logo %}
            <img class="work-item-logo" src="/assets/logos/{{ work.logo }}" title="{{ work.title }} Logo" />
          {% else %}
            <h3 class="work-item-title">{{ work.title }}</h3>
          {% endif %}
          <!-- <span class="work-item-details">{{ work.position }} • {{ work.year }}</span> -->
        </div>
        <div class="work-item-stack-1" style="background-color: {{ work.color1 }};"></div>
        <div class="work-item-stack-2" style="background-color: {{ work.color1 }};"></div>
      </a>
    </div>

  {% endfor %}
</div>
