<div class="link-icon-wrap">
  <a class="link-icon" href="https://github.com/mattaningram" onclick="trackOutboundLink('https://github.com/mattaningram'); return false;" title="Github" target="_blank">{% include icon-github.svg %}</a>
  <a class="link-icon" href="https://twitter.com/mattaningram" onclick="trackOutboundLink('https://twitter.com/mattaningram'); return false;" title="Twitter" target="_blank">{% include icon-twitter.svg %}</a>
  <a class="link-icon" href="https://instagram.com/mattaningram" onclick="trackOutboundLink('https://instagram.com/mattaningram'); return false;" title="Instagram" target="_blank">{% include icon-instagram.svg %}</a>
  <a class="link-icon" href="https://open.spotify.com/user/mattaningram" onclick="trackOutboundLink('https://open.spotify.com/user/mattaningram'); return false;" title="Spotify" target="_blank">{% include icon-spotify.svg %}</a>
</div>
