---
layout: page
---

<div class="work-background"></div>

<main>
	<div class="work-header-wrap">
		<header class="work-header xyz-in" xyz="fade down duration-5 ease-out-back">
			<div class="work-header-top">
				<div class="work-title-wrap xyz-in" xyz="fade left delay-4 ease-out-back">
					{% if page.logoOpen %}
					<img class="work-logo" src="/assets/logos/{{ page.logoOpen }}" title="{{ page.title }} Logo" />
					{% elsif page.logo %}
					<img class="work-logo" src="/assets/logos/{{ page.logo }}" title="{{ page.title }} Logo" />
					{% else %}
					<h1 class="work-title">{{ page.title }}</h1>
					{% endif %}
				</div>
				{% if page.workUrl %}
				<a
					class="work-link button--themed xyz-in"
					xyz="fade small delay-6 ease-out-back"
					href="{{ page.workUrl }}"
					target="_blank"
				>
					<span class="button__text">View</span>
				</a>
				{% endif %}
			</div>

			<div class="work-header-bottom" xyz="fade narrow stagger delay-8 origin-left">
				<div class="work-detail xyz-in">
					<span class="xyz-nested" xyz="fade down-100% duration-8 delay-10"
						>{{ page.position }} &ndash; {{ page.year }}</span
					>
				</div>
				{% for detail in page.details %}
				<div class="work-detail xyz-in">
					<span class="xyz-nested" xyz="fade down-100% duration-8 delay-10">{{ detail }}</span>
				</div>
				{% endfor %}
			</div>
		</header>
	</div>

	<div class="grab-copy-wrap">
		<p class="grab-copy">{{ page.description }}</p>
	</div>

	{{ content }}
</main>

<script>
	function startFancybox() {
		$('[data-fancybox]').fancybox({
			buttons: ['close'],
		})
	}

	window.onload = startFancybox
</script>
