<svg class="m-logo-random-line" x="0px" y="0px" viewBox="0 0 100 100">
  <defs>
    <clipPath id="m-logo-random-line-clip">
      <polygon points="7.143,100 7.143,0 50,47.619 92.857,0 92.857,100 78.571,100 78.571,40 50,70.167 21.429,38.81 21.429,100 "/>
    </clipPath>
  </defs>
  <line ng-repeat="line in lines" ng-attr-x1="{{line.x1}}" ng-attr-y1="{{line.y1}}" ng-attr-x2="{{line.x2}}" ng-attr-y2="{{line.y2}}" vector-effect="non-scaling-stroke" clip-path="url(#m-logo-random-line-clip)" />
</svg>