//ARTEMIS

.artemis-splash-image {
	max-width: 100%;
	padding: 0 var(--spacing-10);
	margin-bottom: var(--spacing-11);

	@media (width < $breakpoint-md) {
		padding: 0 var(--spacing-7);
	}

	img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
		width: 1024px;
		height: auto;
	}
}
