<footer class="main-footer">
  <div class="footer-icon-wrap">
    <a class="footer-icon" href="http://facebook.com/mattaningram" title="Facebook" target="_blank">{% include icon-facebook.svg %}</a>
    <a class="footer-icon" href="http://twitter.com/mattaningram" title="Twitter" target="_blank">{% include icon-twitter.svg %}</a>
    <a class="footer-icon" href="http://instagram.com/mattaningram" title="Instagram" target="_blank">{% include icon-instagram.svg %}</a>
    <a class="footer-icon" href="https://open.spotify.com/user/mattaningram" title="Spotify" target="_blank">{% include icon-spotify.svg %}</a>
    <a class="footer-icon" href="http://github.com/mattaningram" title="Github" target="_blank">{% include icon-github.svg %}</a>
  </div>
  <!-- <div class="footer-text">The year is <script type="text/javascript">document.write(new Date().getFullYear());</script>.</div> -->
</footer>
