<div class="main-menu-wrap">
  <ul class="main-menu">
    <li class="main-menu-item">
      <a class="main-menu-link" href="/about">
        <h2 class="main-menu-text">About
        </h2>
      </a>
    </li>
    <li class="main-menu-item">
      <a class="main-menu-link" href="/work">
        <h2 class="main-menu-text">Work
        </h2>
      </a>
    </li>
    <li class="main-menu-item">
      <a class="main-menu-link" href="/travel">
        <h2 class="main-menu-text">Travel
        </h2>
      </a>
    </li>
  </ul>
</div>
