<div class="link-icon-wrap">
  <a class="link-icon" href="http://github.com/mattaningram" onclick="trackOutboundLink('http://github.com/mattaningram'); return false;" title="Github" target="_blank">{% include icon-github.svg %}</a>
  <a class="link-icon" href="http://twitter.com/mattaningram" onclick="trackOutboundLink('http://twitter.com/mattaningram'); return false;" title="Twitter" target="_blank">{% include icon-twitter.svg %}</a>
  <a class="link-icon" href="http://facebook.com/mattaningram" onclick="trackOutboundLink('http://facebook.com/mattaningram'); return false;" title="Facebook" target="_blank">{% include icon-facebook.svg %}</a>
  <a class="link-icon" href="http://instagram.com/mattaningram" onclick="trackOutboundLink('http://instagram.com/mattaningram'); return false;" title="Instagram" target="_blank">{% include icon-instagram.svg %}</a>
  <a class="link-icon" href="https://open.spotify.com/user/mattaningram" onclick="trackOutboundLink('https://open.spotify.com/user/mattaningram'); return false;" title="Spotify" target="_blank">{% include icon-spotify.svg %}</a>
</div>
