//KEYFRAMES

//FADE

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

//SHRINK

@keyframes fadeInShrink {
  from {
    opacity: 0;
    transform: scale(3,3);
  }
  to {
    opacity: 1;
    transform: scale(1,1);
  }
}

//GROW

@keyframes fadeInGrow {
  from {
    opacity: 0;
    transform: scale(0.25,0.25);
  }
  to {
    opacity: 1;
    transform: scale(1,1);
  }
}

//DOWN

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInDown100 {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

//UP

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInUp100 {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

//LEFT

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInLeft100 {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

//RIGHT

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

//UP-RIGHT

@keyframes fadeInUpRight100 {
  0% {
    opacity: 0;
    transform: translate3d(100%, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

//UP-LEFT

@keyframes fadeInUpLeft100 {
  0% {
    opacity: 0;
    transform: translate3d(-100%, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

//DOWN-RIGHT

@keyframes fadeInDownRight100 {
  0% {
    opacity: 0;
    transform: translate3d(100%, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

//DOWN-LEFT

@keyframes fadeInDownLeft100 {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
