.main-menu {
  height: 100vh;
  display: flex;
  flex-direction: column;
  list-style: none;
  @include mq($until: tablet) {
    flex-direction: row;
    height: 80px;
  }
}

.main-menu-item {
  flex-grow: 1;
  width: 100%;
  position: relative;
  z-index: 10;
  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 65%;
    height: 100%;
    right: 0;
    opacity: 0;
    transform: scale(.5, .25);
    transition: transform .5s ease-out;
    background: linear-gradient(45deg, $primaryBlue, $primaryRed);
    background-size: 200% 200%;
    filter: blur(30px);
    animation: animateGlow 5s ease infinite; //http://codepen.io/georgehastings/pen/xgwxgo
    animation-play-state: paused;
    @keyframes animateGlow {
      0% { background-position: 0% 50% }
      50% { background-position: 100% 50% }
      100% { background-position: 0% 50% }
    }
    @include mq($until: tablet) {
      width: 100%;
      bottom: 0;
      right: auto;
      transform: scale(.25, .5);
      filter: blur(15px);
    }
  }
  &:hover {
    z-index: 10;
    &:after {
      transform: scale(0.75, .5);
      opacity: 1;
      animation-play-state: running;
      @include mq($until: tablet) {
        transform: scale(0.75, .5);
      }
    }
    .main-menu-text {
      opacity: 1;
      transform: scale(1) translateX(-35%);
      @include mq($until: tablet) {
        transform: scale(1) translateY(-35%);
      }
    }
  }
}

.main-menu-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  text-decoration: none;
  font-size: 1.8em;
  @include mq($until: tablet) {
    justify-content: center;
    align-items: flex-end;
    font-size: 1.4em;
  }
}

.main-menu-text {
  opacity: 0.7;
  transform: scale(.75);
  transition: all .3s $ease-out-back;
}
