//PAGE CONTENT

.page-wrap {
	max-width: 100%;
	margin: 0 auto;
}

.grab-copy-wrap {
	max-width: $centerMaxWidth;
	margin: 0 auto;
	margin-bottom: 10vh;
	opacity: 0;
	animation: fadeInUpText 0.6s $ease-out-quad 0.8s both;
}

@keyframes fadeInUpText {
	from {
		opacity: 0;
		line-height: 2;
		transform: translate3d(0, 30px, 0);
	}
	to {
		line-height: inherit;
		opacity: 1;
		transform: none;
	}
}

.grab-copy {
	font-size: 2rem;
	padding: 0 $spacing-10;
	margin-bottom: 0;

	@include mq($until: desktop) {
		font-size: 1.6rem;
	}

	@include mq($until: tablet) {
		font-size: 1.3rem;
	}
}

.section-panel {
	background-color: $bg-dark;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 20rem;
}

.section-panel--themed {
	border: 1px solid var(--page-color);
}

.page-copy-header {
	color: var(--page-color);
	margin-bottom: $spacing-8;
	letter-spacing: 0.025em;
	align-self: flex-start;
}

.page-copy-wrap {
	background: $bg-dark;
	padding: $spacing-11;
	margin: $spacing-11 / 2;
	margin-top: 0;

	.page-copy {
		padding: 0;
		margin: 0;
	}

	@include mq($until: desktop) {
		padding: $spacing-10;
		margin: $spacing-10 / 2;
		margin-top: 0;
	}

	@include mq($until: tablet) {
		padding: $spacing-7;
		margin: $spacing-7 / 2;
		margin-top: 0;
	}
}

.page-copy {
	@include mq($until: tablet) {
		min-width: 100%;
		padding: 0 $spacing-7;
	}
}

.page-section {
	max-width: $centerMaxWidth;
	margin: 0 auto;
	margin-bottom: $spacing-10;
	display: flex;
	gap: $spacing-10;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	padding: 0 $spacing-10;

	@include mq($until: desktop) {
		padding: 0 $spacing-7;
	}

	@include mq($until: tablet) {
		padding: 0 $spacing-4;
		margin-bottom: $spacing-8;
	}

	.page-copy-wrap {
		border: 1px solid var(--page-color);
		flex-grow: 1;
	}

	&.page-copy-left,
	&.page-copy-right {
		@include mq($from: tablet) {
			min-height: 100vh;

			.page-copy-content {
				max-width: 440px;
			}

			.page-copy-wrap {
				margin-bottom: 0;
			}
		}

		@include mq($until: tablet) {
			.page-copy {
				margin-right: 0;
				margin-left: 0;
			}
		}
	}
}

.page-section-column {
	flex-direction: column;
}

.page-copy-left,
.page-copy-right {
	justify-content: center;
	align-items: center;

	@include mq($from: tablet) {
		justify-content: flex-start;
	}

	@include mq($until: tablet) {
		.page-copy-wrap {
			margin-bottom: -$spacing-7;
			padding-bottom: $spacing-7 * 2;
		}

		.page-copy-image-wrap {
			margin: 0;
			width: 100%;
			height: 340px;
		}
	}
}

.page-copy-top {
	.page-copy-wrap {
		width: 100%;
		margin-bottom: -$spacing-11;
		padding-bottom: $spacing-11 * 2;
	}
}

.page-copy-bottom {
	.page-copy-wrap {
		width: 100%;
		margin-top: -$spacing-11;
		padding-top: $spacing-11 * 2;
	}
}

.page-copy-left {
	@include mq($from: tablet) {
		flex-direction: row;

		.page-copy-image-wrap {
			left: -30%;
		}
	}
}

.page-copy-right {
	.page-copy-content {
		float: right;
	}

	@include mq($from: tablet) {
		flex-direction: row-reverse;

		.page-copy-image-wrap {
			right: -30%;
		}
	}
}

.page-copy-image-wrap {
	position: relative;
	align-self: stretch;
}

.page-copy-image {
	position: absolute;
	box-shadow: $shadowMd;
}

.page-copy-video-wrap {
	margin: 0 $spacing-11 / -2;

	@include mq($until: desktop) {
		margin: 0 $spacing-10 / -2;
	}

	@include mq($until: tablet) {
		margin: 0 $spacing-7 / -2;
	}
}

.page-copy-video {
	display: block;
	width: 100%;
	height: auto;
	box-shadow: $shadowMd;
}

//Image Carousel

@function carousel-center($items) {
	@return ($items * 300 + 40 + (($items - 1) * 30));
}

.image-carousel-wrap {
	margin-bottom: $spacing-11;
}

.image-carousel {
	--xyz-delay: 1s;
	list-style: none;
	overflow-x: scroll;
	padding: $spacing-10 $spacing-7;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.carousel-item {
	display: inline-block;
	min-width: 300px;
	max-width: 300px;
	height: auto;
	vertical-align: top;
	line-height: 0;
	position: relative;
	box-shadow: $shadowMd;
	transition: transform 0.15s ease-out, box-shadow 0.15s ease-out;

	&:not(:last-child) {
		margin-right: $spacing-10;
	}

	&:hover,
	&:focus-within {
		transform: translate3d(0, -15px, 0);
		box-shadow: 0 0 0 5px var(--page-color);
	}
}

.carousel-image {
	width: 100%;
}

//IMAGE GRID

.image-grid {
	display: flex;
	justify-content: center;

	@include mq($until: desktop) {
		flex-wrap: wrap;
	}
}

.image-grid-item {
	margin: 20px;
	margin-top: 0;
	display: flex;
	justify-content: center;
}

.grid-image {
	display: block;
	height: 200px;
	width: auto;
	box-shadow: $shadowMd;
}
