//PAGE CONTENT

.page-wrap {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.page-logo {
  width: 240px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: block;
}

.page-header {
  margin-bottom: 30px;
}

.page-description {
  text-align: center;
}

.page-copy-section {
  margin-bottom: 40px;
}

.page-copy-header {
  margin-bottom: 15px;
  font-weight: 500;
  letter-spacing: .025em;
}

.page-copy {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

//WORK PAGE

.job-description {
  font-size: 1.1em;
}
