html {
  background-color: $bg-color;
}

body {
  margin: 0;
}

svg {
  width: 100%;
  display: block;
  overflow: visible;
}

svg:not(:root) {
  overflow: visible;
}

.page-content {
  margin: 0;
  min-height: 100vh;
}

.left-content-wrap {
  width: 100%;
  height: 100vh;
  padding: 0 20px;
  display: flex;
  position: relative;
  @include mq($until: tablet) {
    height: calc(100vh - 80px);
  }
}

.m-center-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
}

.right-menu-wrap {
  width: 33.333vh;
  position: absolute;
  right: 0;
  top: 0;
  @include mq($until: tablet) {
    position: relative;
    top: auto;
    width: 100%;
  }
}

.main-footer {
  text-align: center;
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 10px;
}

.my-name {
  opacity: 0;
  animation: fadeIn .75s $ease-in-quad .5s forwards;
  text-align: center;
  font-weight: 300;
  letter-spacing: 0.025em;
  margin-bottom: 15px;
}

.my-description {
  opacity: 0;
  animation: fadeIn .75s $ease-in-quad .7s forwards;
  text-align: center;
  color: rgba(255,255,255,0.75);
  font-size: 1.1em;
  margin-bottom: 15px;
}

.social-links-wrap {
  opacity: 0;
  animation: fadeIn .75s $ease-in-quad .9s forwards;
}

.menu-overlay {
  background-color: rgba(0,0,0,.5);
}

.m-logo-wrap {
  width: 240px;
  height: 240px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: block;
  position: relative;
}

//MAIN PAGE CONTENT

.section-header-title {
  margin-bottom: 30px;
  line-height: 1;
  font-size: 2.2em;
  text-align: center;
}

.section-wrap {
  margin: 0 auto;
  margin-bottom: 40px;
  width: 640px;
  max-width: 100%;
}

.work-item {
  display: block;
  height: 100px;
  padding: 10px;
  margin: 0 20px;
  margin-bottom: 30px;
  text-align: center;
  text-decoration: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .25s ease-in;
  .item-shadow-1, .item-shadow-2 {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: .5;
    z-index: -1;
    transition: all .2s ease-in;
  }
  .item-shadow-1 {
    background-color: rgb(48, 188, 174);
    transform: translate3d(0, 0, 0);
  }
  .item-shadow-2 {
    background-color: rgb(0,139,206);
    transform: translate3d(4px, 4px, 0);
  }
  &:hover {
    .work-item-contents {
      // transform: scale(1.05);
    }
    .item-shadow-1 {
      opacity: .4;
      transform: translate3d(4px, 4px, 0);
    }
    .item-shadow-2 {
      opacity: .3;
      transform: translate3d(8px, 8px, 0);
    }
  }
}

.work-item-contents {
  transition: all .2s ease-in;
}

.work-item-logo {
  display: block;
  width: 100%;
  max-width: 180px;
  max-height: 40px;
  margin: 0 auto;
  margin-bottom: 5px;
}

.work-item-title {
  display: block;
  font-size: 1.6em;
  font-weight: 300;
  text-align: center;
}

.work-item-details {
  display: block;
  color: rgba(255,255,255,0.75);
}

.canvs-work-item {
  .work-item-logo {
    width: 140px;
  }
}

//PAGE HEADER

.site-header {
  padding: 30px;
  .m-logo-wrap {
    margin: 0;
    width: 40px;
    height: 40px;
  }
}

//PAGE CONTENT

.page-wrap {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.page-logo {
  width: 240px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: block;
}

.page-header {
  margin-bottom: 30px;
}

.page-description {
  text-align: center;
}

.job-description {
  font-size: 1.1em;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.page-copy {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

//FOOTER

.social-icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  // margin-bottom: 10px;
  height: 30px;
}

.social-icon {
  width: 20px;
  display: inline-block;
  opacity: .7;
  transition: all .2s ease-out;
  &:not(:last-child) {
    margin-right: 10px;
  }
  .icon-fill {
    fill: white;
  }
  &:hover {
    opacity: 1;
    width: 25px;
  }
}
