$fontBody:    "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontHead:    "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;


html, body {
  color: white;
  font-family: $fontBody;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: var(--page-color);
}

.text-white {
  color: white;
}

h1, h2, h3, h4 {
  font-family: $fontHead;
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.3rem;
}

p {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}
