$fontBody:    "source-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontHead:    "ingra-2", "Helvetica Neue", Helvetica, Arial, sans-serif;


html, body {
  color: white;
  font-family: $fontBody;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
}

a {
  color: white;
}

h1, h2, h3, h4 {
  font-family: $fontHead;
  font-weight: 200;
  line-height: 1;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

p {
  margin-bottom: 20px;
}
