
$bg-color:                rgb(31,35,43);


// Grays
// -------------------------
$black:                   rgb(0, 0, 0);

$white:                   rgb(255, 255, 255);


//Translucents

$translucent-white:       rgba(255,255,255,0.85);
$translucent-black:       rgba(0,0,0,0.85);


// Default colors
// -------------------------


// Links
// -------------------------
// $linkColor:         $teal;


// Z-Indices
// -------------------------
$zSVG:              50;
$zStandard:         100;
$zMiddle:           500;
$zBelowNav:					999;
$zNav:              1000;
$zMainNav:          1001;
$zTop:              9999;
