//VISIBLE

.visible-splash-video {
	margin: 0 auto;
	max-width: 100%;
	width: $centerMaxWidth;
	padding: 0 $spacing-10;
	margin-bottom: $spacing-11;

	video {
		width: 100%;
		height: auto;
		border-radius: 8px;
	}

	@include mq($until: tablet) {
		padding: 0 $spacing-7;
	}
}

.visible-wrap {
	.work-page-section {
		width: $centerMaxWidth;
		margin: 0 auto;
	}

	.section-header {
		text-align: left;
		color: transparentize(white, 0.55);
		font-size: 6rem;
		font-weight: 900;
		line-height: 1;
		margin-top: $spacing-20;
	}

	.section-content {
		position: relative;
	}

	.section-text,
	.section-figure-wrap {
		flex-shrink: 0;
		width: 30rem;
	}

	.section-text {
		background-color: $bg-dark;
		padding: $spacing-10;
		padding-right: $spacing-11 * 2;
		margin-right: -$spacing-10;

		h2 {
			margin-bottom: $spacing-7;
		}

		p {
			color: white;
		}
	}

	.section-figure {
		position: absolute;
		height: 24rem;
		top: 50%;
		transform: translateY(-50%);
	}
}

.visible-icons {
	width: 30rem;
	background-color: $bg-color;
	background-image: url('/assets/images/visible/visible-icons.svg');
	background-repeat: repeat;
	border: 1px solid var(--page-color);
	animation: icon-scroll 24s infinite linear;
}

@keyframes icon-scroll {
	100% {
		background-position: -480px -384px;
	}
}

.visible-colors {
	position: relative;
}

.visible-color-circle {
	list-style: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.color-block {
	--color-block__size: 6rem;
	position: absolute;
	top: calc(50% - var(--color-block__size) / 2);
	left: calc(50% - var(--color-block__size) / 2);
	width: var(--color-block__size);
	height: var(--color-block__size);
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: monospace;
	font-size: 0.75rem;
	color: #071226;

	@for $i from 1 through 16 {
		&:nth-child(#{$i}) {
			transform: rotate((360 / 16 * $i) + deg) translate(0, 12rem) rotate((-360 / 16 * $i) + deg);
		}
	}

	&:nth-child(-n + 8) {
		color: #f7faff;
	}
}

.visible-components {
	.section-figure {
		width: 500px;
		height: auto;
	}
}
