

.job-description {
  font-size: 1.1em;
}

.work-item-list {
  margin: 0 auto;
  padding: 0 calc((100% - 930px) / 2);
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  perspective: 800px;
  perspective-origin: 50% 200%;
}

.work-item-wrap {
  flex-grow: 1;
  max-width: 400px;
  min-width: 300px;
  height: 200px;
  margin: 0 40px;
  margin-bottom: 40px;
  position: relative;
  transform-style: preserve-3d;
  @include mq($until: tablet) {
    margin: 0 20px;
    margin-bottom: 40px;
    min-width: 280px;
  }
  &:hover {
    .work-item {
      transform: translate3d(0, 0, 40px);
    }
    .work-item-stack {
      background-color: currentColor;
      &:nth-child(1) {
        opacity: .1;
        transform: translate3d(0, 0, -40px);
      }
      &:nth-child(2) {
        opacity: .2;
        transform: translate3d(0, 0, -20px);
      }
      &:nth-child(3) {
        opacity: .3;
        transform: translate3d(0, 0, 0px);
      }
      &:nth-child(4) {
        opacity: .4;
        transform: translate3d(0, 0, 20px);
      }
    }
  }
}

.work-item-stack {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  background-color: currentColor;
  transform-origin: 50% 100%;
  transition: all .3s $ease-out-back;
  &:nth-child(1) {
    opacity: .2;
    transform: translate3d(0, 0, -30px);
  }
  &:nth-child(2) {
    opacity: .4;
    transform: translate3d(0, 0, -15px);
  }
}

.work-item {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transition: all .3s $ease-out-back;
}

.work-item-contents {
  transition: all .2s ease-in;
}

.work-item-logo {
  display: block;
  width: 100%;
  max-width: 180px;
  max-height: 40px;
  margin: 0 auto;
  margin-bottom: 5px;
}

.work-item-title {
  display: block;
  font-size: 1.6em;
  font-weight: 300;
  text-align: center;
}

.work-item-details {
  display: block;
  color: rgba(255,255,255,0.75);
}

//CANVS

.canvs-image-row-1 {
  @include mq($until: 1660px) {
    .image-carousel {
      display: block;
    }
  }
}

.canvs-page-copy-1 {
  .page-copy-image {
    &:nth-child(1) {
      top: 5%;
      left: 0;
      width: 45vw;
      max-width: 400px;
    }
    &:nth-child(2) {
      top: 30%;
      left: 50%;
      width: 40vw;
      max-width: 640px;
    }
    &:nth-child(3) {
      bottom: 5%;
      left: 30%;
      width: 40vw;
      z-index: -2;
      max-width: 640px;
    }
  }
  @include mq($until: tablet) {
    .page-copy-image {
      &:nth-child(1) {
        left: 60%;
        width: 60%;
      }
      &:nth-child(2) {
        left: 20%;
        margin-top: -25%;
        width: 60%;
      }
      &:nth-child(3) {
        left: -15%;
        margin-top: -92%;
        width: 50%;
      }
    }
  }
}

.canvs-page-copy-2 {
  .page-copy-image {
    &:nth-child(1) {
      top: 0;
      right: 20%;
      width: 65vw;
    }
    &:nth-child(2) {
      top: 20%;
      right: 0;
    }
  }
}
