@keyframes fadeInDown100 {
	from {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes fadeOutDown100 {
	from {
		opacity: 1;
		transform: none;
	}
	to {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}
}

@keyframes fadeInUp100 {
	from {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes fadeOutUp100 {
	from {
		opacity: 1;
		transform: none;
	}
	to {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}
}

@keyframes fadeInLeft100 {
	from {
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes fadeOutLeft100 {
	from {
		opacity: 1;
		transform: none;
	}
	to {
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
	}
}

@keyframes fadeInRight100 {
	from {
		opacity: 0;
		transform: translate3d(100%, 0, 0);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes fadeOutRight100 {
	from {
		opacity: 1;
		transform: none;
	}
	to {
		opacity: 0;
		transform: translate3d(100%, 0, 0);
	}
}

@keyframes fadeInUpRight100 {
	0% {
		opacity: 0;
		transform: translate3d(100%, -100%, 0);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}

@keyframes fadeOutUpRight100 {
	0% {
		opacity: 1;
		transform: none;
	}
	100% {
		opacity: 0;
		transform: translate3d(100%, -100%, 0);
	}
}

@keyframes fadeInUpLeft100 {
	0% {
		opacity: 0;
		transform: translate3d(-100%, -100%, 0);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}

@keyframes fadeOutUpLeft100 {
	0% {
		opacity: 1;
		transform: none;
	}
	100% {
		opacity: 0;
		transform: translate3d(-100%, -100%, 0);
	}
}

@keyframes fadeInDownRight100 {
	0% {
		opacity: 0;
		transform: translate3d(100%, 100%, 0);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}

@keyframes fadeOutDownRight100 {
	0% {
		opacity: 1;
		transform: none;
	}
	100% {
		opacity: 0;
		transform: translate3d(100%, 100%, 0);
	}
}

@keyframes fadeInDownLeft100 {
	0% {
		opacity: 0;
		transform: translate3d(-100%, 100%, 0);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}

@keyframes fadeOutDownLeft100 {
	0% {
		opacity: 1;
		transform: none;
	}
	100% {
		opacity: 0;
		transform: translate3d(-100%, 100%, 0);
	}
}
