@use 'scssVariables' as *;

.beliefs-list-wrap {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	gap: var(--spacing-12);

	@media (width < $breakpoint-md) {
		flex-wrap: nowrap;
		overflow-x: scroll;
		gap: var(--spacing-10);
		padding: var(--page-gutter);
		padding-top: 0;
		margin: 0 calc(var(--page-gutter) * -1);
	}
}

.belief-item {
	width: 280px;
	flex-grow: 1;

	@media (width < $breakpoint-md) {
		min-width: max(15rem, 50vw);
	}
}

.belief-item-title {
	font-size: 1.25rem;
	margin-bottom: var(--spacing-6);
}

.belief-item-copy {
	font-size: 1rem;
	margin: 0;
	opacity: 0.85;
	text-wrap: balance;
}
