@use 'scssVariables' as *;

html {
	background-color: var(--bg-color);
	overflow-x: hidden;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow-x: clip;

	--page-gutter: var(--spacing-10);

	@media (width < $breakpoint-md) {
		--page-gutter: var(--spacing-8);
	}
}

main {
	flex-grow: 1;
}

svg {
	display: block;
	overflow: visible;
}

svg:not(:root) {
	overflow: visible;
}

a.no-outline:focus {
	outline: none;
}
