@use 'scssVariables' as *;

:root {
	--font-body: 'Figtree', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica,
		Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
	--font-head: 'Figtree', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica,
		Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
}

html,
body {
	color: white;
	font-family: var(--font-body);
	font-weight: 300;
	line-height: 1.5;
}

a {
	color: var(--page-color);
	font-weight: bolder;
}

.text-white {
	color: white;
}

h1,
h2,
h3,
h4 {
	font-family: var(--font-head);
	font-weight: 600;
	line-height: 1.2;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

p {
	font-size: 1.25rem;

	@media (width < $breakpoint-md) {
		font-size: 1.125rem;
	}
}

p + p {
	margin-bottom: 1.25em;
}

.grab-copy-wrap {
	width: var(--page-content-width);
	padding-inline: var(--page-gutter);
	max-width: 100%;
	margin: 0 auto;
	margin-block: var(--page-section-margin);
}

.grab-copy {
	font-size: 2rem;
	line-height: 1.65;
	text-wrap: balance;

	@media (width < $breakpoint-md) {
		font-size: 1.75rem;
	}

	@media (width < $breakpoint-sm) {
		font-size: 1.5rem;
	}
}
