@use 'scssVariables' as *;

.page-section {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: var(--page-content-width);
	padding: 0 var(--page-gutter);
	margin: var(--spacing-20) auto;

	@media (width < $breakpoint-md) {
		margin-bottom: var(--spacing-16);
	}
}

.section-header {
	font-size: 2rem;
	color: var(--page-color);
	margin-bottom: var(--spacing-8);
	letter-spacing: 0.025em;
	align-self: flex-start;

	@media (width < $breakpoint-md) {
		margin-bottom: var(--spacing-6);
	}
}

.section-text-wrap {
	display: flex;
	flex-grow: 1;
	background: var(--bg-dark);
	padding: var(--spacing-11);
	border: 1px solid var(--page-color);

	@media (width < $breakpoint-lg) {
		padding: var(--spacing-10);
	}

	@media (width < $breakpoint-md) {
		padding: var(--spacing-8);
	}
}

.page-section--row {
	align-items: center;
	justify-content: flex-start;

	.section-text {
		max-width: 27rem;
	}

	@media (width < $breakpoint-md) {
		display: block;

		.section-text-wrap {
			margin-bottom: calc(-1 * var(--spacing-7));
			padding-bottom: var(--spacing-11);
		}

		.section-text {
			max-width: 100%;
		}

		.section-image-wrap {
			margin: 0 calc(-1 * var(--page-gutter));
			height: 21rem;
		}
	}
}

.page-section--top {
	display: block;

	.section-text-wrap {
		width: 100%;
		margin-bottom: calc(-1 * var(--spacing-7));
		padding-bottom: var(--spacing-12);
	}
}

.page-section--left {
	@media (width >= $breakpoint-md) {
		.section-image-wrap {
			left: -30%;
		}
	}
}

.page-section--right {
	@media (width >= $breakpoint-md) {
		flex-direction: row-reverse;

		.section-text-wrap {
			justify-content: flex-end;
		}

		.section-image-wrap {
			right: -30%;
		}
	}
}

.section-image-wrap {
	align-self: stretch;
	position: relative;
}

.section-image {
	position: absolute;
}

.section-content-block {
	margin: 0 calc(-1 * var(--page-gutter));
}

.page-video {
	display: block;
	width: 100%;
	height: auto;
	box-shadow: var(--shadow-md);
}

//IMAGE CAROUSEL

.image-carousel-wrap {
	display: flex;
	justify-content: center;
	margin-bottom: var(--spacing-11);
}

//SKILL SECTION

.skill-section {
	align-items: stretch;
	flex-wrap: wrap;
	gap: var(--spacing-10);
	margin-block: var(--spacing-20);

	@media (width < $breakpoint-md) {
		gap: var(--spacing-8);
	}

	.skill-panel {
		background-color: var(--bg-dark);
		border: 1px solid var(--page-color);
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		width: 20rem;
	}
}

.skill-list-header {
	padding: var(--spacing-8);
	color: var(--page-color);
}

.skill-list {
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: flex-start;
	align-items: flex-start;
	max-width: 100%;
	list-style: none;
	padding: 0;
	margin-top: auto;
}

.skill-list-item {
	background: var(--bg-color);
	display: flex;
	align-items: center;
	height: 2rem;
	padding: 0 var(--spacing-5);
	border: 1px solid var(--page-color);
	margin-left: -1px;
	margin-bottom: -1px;
}

.skill-list-item-text {
	color: var(--page-color);
	font-weight: 500;
}
