---
import HomeLayout from '../layouts/HomeLayout.astro'
import Logo from '../components/Logo.astro'
import Beliefs from '../components/Beliefs.astro'
import WorkList from '../components/WorkList.astro'
import Footer from '../components/Footer.astro'
---

<HomeLayout>
	<div class="container">
		<div class="sidebar">
			<section class="m-center-wrap">
				<div class="m-logo-section">
					<Logo size="12rem" />
				</div>
				<h1 class="my-name xyz-in" xyz="fade small-2 duration-5 delay-7">Mattan Ingram</h1>
				<button class="m-logo-click-me xyz-in" xyz="fade small-2 duration-5 delay-8">Click me</button>
			</section>

			<Footer />
		</div>

		<div class="main-content">
			<p class="main-copy home-section">
				Design engineer and CSS nerd raised on the
				<span class="gif-hover"
					>1984 Mac<span class="gif-video-wrap">
						<video autoplay loop muted playsinline>
							<source src="assets/videos/1984mac.webm" type="video/webm" />
						</video>
					</span>
				</span>,
				<span class="gif-hover"
					>Top Gun<span class="gif-video-wrap">
						<video autoplay loop muted playsinline>
							<source src="assets/videos/topgun.webm" type="video/webm" />
						</video>
					</span></span
				>, and
				<span class="gif-hover"
					>Sesame Street<span class="gif-video-wrap">
						<video autoplay loop muted playsinline>
							<source src="assets/videos/sesame.webm" type="video/webm" />
						</video>
					</span></span
				>. I help teams build better products through, development, research, and data.
			</p>

			<section class="work-section home-section">
				<div class="work-stack">
					<h2 class="home-section-title">Work</h2>
					<WorkList folder="work" />
				</div>
				<div class="work-stack">
					<h2 class="home-section-title">Projects</h2>
					<WorkList folder="projects" />
				</div>
			</section>

			<div class="beliefs-section home-section">
				<Beliefs />
			</div>
		</div>
	</div>
</HomeLayout>

<script is:inline>
	const btn = document.querySelector('.m-logo-click-me')
	const logoWrap = document.querySelector('.m-logo-section .m-logo-wrap')
	btn?.addEventListener('click', () => {
		logoWrap?.dispatchEvent(new CustomEvent('m-logo:next', { bubbles: true }))
	})
</script>

<style lang="scss">
	@use '../styles/scssVariables' as *;

	.container {
		display: grid;
		height: 100vh;
		grid-template-columns: minmax(24rem, 1fr) 3fr;
	}

	.sidebar {
		position: sticky;
		top: 0;
		height: 100%;
		display: flex;
		flex-direction: column;
		gap: var(--page-gutter);
		padding: var(--page-gutter);
		background: var(--bg-color);
		overflow-x: hidden;
		overflow-y: auto;
	}

	.main-content {
		overflow-x: hidden;
		overflow-y: auto;
		padding-top: 10vh;
	}

	.m-center-wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex-grow: 1;
	}

	.m-logo-section {
		position: relative;
	}

	.my-name {
		text-align: center;
		letter-spacing: 0.03em;
		margin-block: var(--spacing-8);
	}

	.m-logo-click-me {
		color: white;
		opacity: 0.75;
		font-size: 0.75rem;
		padding: var(--spacing-2);
		text-transform: uppercase;
		letter-spacing: 0.075rem;
		cursor: pointer;
		transition: 0.15s var(--ease-out);
		transition-property: scale, opacity;
		&:hover {
			opacity: 0.85;
			scale: 1.05;
		}
		&:active {
			opacity: 1;
			scale: 0.95;
		}
	}

	.main-copy {
		font-size: 1.75rem;
		text-wrap: balance;
	}

	.gif-hover {
		cursor: pointer;
		position: relative;
		white-space: nowrap;
		font-weight: 500;

		.gif-video-wrap {
			position: absolute;
			display: block;
			opacity: 0;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%) scale(1, 0);
			border-radius: 20px;
			overflow: hidden;
			transition: all 0.35s var(--ease-out-back);
			z-index: -2;
			pointer-events: none;

			video {
				display: block;
			}

			&:before {
				content: '';
				position: absolute;
				inset: 0;
				width: 100%;
				height: 100%;
				box-shadow: inset 0 0 50px 30px var(--bg-color);
				z-index: 1;
			}
		}

		&:after {
			content: '';
			background-color: rgb(from var(--primary-blue) r g b / 0.6);
			position: absolute;
			z-index: -1;
			bottom: 0.15em;
			left: 0;
			right: 0;
			height: 0.25em;
			transition: all 0.15s ease-out;
		}

		&:hover {
			.gif-video-wrap {
				opacity: 1;
				transform: translate(-50%, -50%) scale(1, 1);
				transition-duration: 0.2s;
			}

			&:after {
				height: 1em;
			}
		}
	}

	.beliefs-section {
		margin-top: auto;
	}
	.home-section {
		width: var(--page-content-width);
		max-width: 100%;
		margin: 0 auto;
		margin-bottom: 10vh;
		padding: var(--page-gutter);
	}

	.home-section-title {
		opacity: 0.6;
		font-size: 2.5rem;
		font-weight: 400;
		margin-bottom: var(--spacing-12);

		@media (width < $breakpoint-sm) {
			font-size: 2rem;
			margin-bottom: var(--spacing-8);
		}
	}
</style>
