<div class="beliefs-section">
	<h2 class="home-section-title">Beliefs</h2>
	<div class="beliefs-list-wrap">
		<div class="belief-item">
			<h3 class="belief-item-title">Join Forces</h3>
			<p class="belief-item-copy">
				Design and development don't need to be awkward partners. Let designers learn CSS and devs learn typography.
				Breaking down silos breeds unicorns.
			</p>
		</div>
		<div class="belief-item">
			<h3 class="belief-item-title">Read the Manual</h3>
			<p class="belief-item-copy">
				Documentation, ReadMe, StackOverflow, Google. Trial by fire is great, but when doing something new I want to
				know the basics first. It will save time in the end.
			</p>
		</div>
		<div class="belief-item">
			<h3 class="belief-item-title">Best Practices</h3>
			<p class="belief-item-copy">
				Just about everything has been tried on the web. It's worth the time to look up how other people have done
				something and learn from their successes and mistakes.
			</p>
		</div>
		<div class="belief-item">
			<h3 class="belief-item-title">Be the User</h3>
			<p class="belief-item-copy">
				Empathy alone is not enough to improve user experience. I want to use the product I'm building, not just to test
				a feature but to let my experience drive me as well.
			</p>
		</div>
		<div class="belief-item">
			<h3 class="belief-item-title">Why not Both?</h3>
			<p class="belief-item-copy">
				Functionality and aesthetics are not enemies. Let the pixels point the user the right way, and let the features
				save them enough time to enjoy it.
			</p>
		</div>
		<div class="belief-item">
			<h3 class="belief-item-title">Explain Why</h3>
			<p class="belief-item-copy">
				When communicating something, be it a team meeting or introducing a new feature, explaining the why and how
				always improves how things play out.
			</p>
		</div>
	</div>
</div>

<style lang="scss">
	@use '../styles/scssVariables' as *;

	.beliefs-list-wrap {
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		gap: var(--spacing-12);

		@media (width < $breakpoint-md) {
			flex-wrap: nowrap;
			overflow-x: scroll;
			gap: var(--spacing-10);
			padding: var(--page-gutter);
			padding-top: 0;
			margin: 0 calc(var(--page-gutter) * -1);
		}
	}

	.belief-item {
		width: 280px;
		flex-grow: 1;

		@media (width < $breakpoint-md) {
			min-width: max(15rem, 50vw);
		}
	}

	.belief-item-title {
		font-size: 1.25rem;
		margin-bottom: var(--spacing-6);
	}

	.belief-item-copy {
		font-size: 1rem;
		margin: 0;
		opacity: 0.85;
		text-wrap: balance;
	}
</style>
