---

---

<div class="beliefs-wrap">
  <div class="belief-item">
    <h3 class="belief-item-title">Join Forces</h3>
    <p>
      Design and development don't need to be awkward partners. I'll teach designers HTML and CSS, and developers taste
      and typography.
    </p>
  </div>
  <div class="belief-item">
    <h3 class="belief-item-title">Be the User</h3>
    <p>
      Empathy alone is not enough to improve user experience. I use the product I'm building, so my own enjoyment or
      frustration drives the design forward.
    </p>
  </div>
  <div class="belief-item">
    <h3 class="belief-item-title">Why not Both?</h3>
    <p>
      Functionality and aesthetics are not enemies. Let the pixels point the user the right way, and let the features
      save them enough time to enjoy it.
    </p>
  </div>
  <div class="belief-item">
    <h3 class="belief-item-title">AI is a Wrench</h3>
    <p>
      It's a powerful tool that can open up one problem while grinding the gears of another. Knowing when and where to
      apply it is as powerful as the AI itself.
    </p>
  </div>
  <div class="belief-item">
    <h3 class="belief-item-title">Read the Manual</h3>
    <p>Do a little reading first. Trial by fire is great, but even AI can miss useful details in implementation.</p>
  </div>
  <div class="belief-item">
    <h3 class="belief-item-title">Best Practices</h3>
    <p>
      It's worth the time to look up how other people have done something and learn from their successes and mistakes.
    </p>
  </div>
</div>

<style lang="scss">
  @use '../styles/scssVariables' as *;

  .beliefs-wrap {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    column-gap: var(--page-gutter);
    row-gap: var(--spacing-12);
  }

  .belief-item-title {
    font-size: 1.25rem;
    margin-bottom: var(--spacing-6);
  }

  p {
    font-size: 1rem;
    color: var(--gray-9);
    text-wrap: balance;
  }
</style>
