---
import { Icon } from 'astro-icon/components'
---

<footer class="main-footer">
	<div class="footer-text">I made this.</div>
	<a href="mailto:mattaningram@gmail.com" class="button--themed email-me">
		<span class="button__text">Say Hi</span>
	</a>

	<div class="link-icon-wrap">
		<a class="link-icon" href="https://github.com/mattaningram" aria-label="Github" target="_blank">
			<Icon name="github-solid" />
		</a>

		<a class="link-icon" href="https://www.linkedin.com/in/mattaningram" aria-label="LinkedIn" target="_blank">
			<Icon name="linkedin-solid" />
		</a>

		<a class="link-icon" href="https://x.com/mattaningram" aria-label="X" target="_blank">
			<Icon name="x-solid" />
		</a>

		<a class="link-icon" href="https://instagram.com/mattaningram" aria-label="Instagram" target="_blank">
			<Icon name="instagram-solid" />
		</a>

		<a class="link-icon" href="https://open.spotify.com/user/mattaningram" aria-label="Spotify" target="_blank">
			<Icon name="spotify-solid" />
		</a>
	</div>
</footer>

<style lang="scss">
	.main-footer {
		text-align: center;
		position: relative;
		margin: 0 auto;
		margin-top: 30px;
		padding-bottom: 10px;
	}

	.social-links-wrap {
		opacity: 0;
		animation: fadeIn 0.75s var(--ease-in-quad) 0.9s forwards;
	}

	.email-me {
		margin: 1.25rem auto;
		margin-top: 1rem;
	}

	.footer-text {
		font-size: 0.875rem;
		color: var(--page-color);
	}

	.link-icon-wrap {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: var(--spacing-4);
		gap: var(--spacing-6);
	}

	.link-icon {
		font-size: 1.125rem;
		color: var(--page-color);
		transition: all 0.2s ease-out;

		&:hover {
			transform: scale(1.25);
		}

		&:focus-visible {
			transform: scale(1.25);
			outline: 1px solid var(--page-color);
			outline-offset: 2px;
		}
	}
</style>
