---
import { Icon } from 'astro-icon/components'
---

<footer class="main-footer">
	<div class="social-links">
		<a class="footer-link" href="https://github.com/mattaningram" aria-label="Github" target="_blank">
			<Icon name="github-solid" />
		</a>

		<a class="footer-link" href="https://www.linkedin.com/in/mattaningram" aria-label="LinkedIn" target="_blank">
			<Icon name="linkedin-solid" />
		</a>

		<a class="footer-link" href="https://x.com/mattaningram" aria-label="X" target="_blank">
			<Icon name="x-solid" />
		</a>

		<a class="footer-link" href="https://instagram.com/mattaningram" aria-label="Instagram" target="_blank">
			<Icon name="instagram-solid" />
		</a>

		<a class="footer-link" href="https://open.spotify.com/user/mattaningram" aria-label="Spotify" target="_blank">
			<Icon name="spotify-solid" />
		</a>

		<a href="mailto:mattaningram@gmail.com" class="footer-link" target="_blank">
			<Icon name="email" size={24} />
		</a>
	</div>
</footer>

<style lang="scss">
	.main-footer {
		display: flex;
		place-content: center;
		text-align: center;
		position: relative;
	}

	.social-links-wrap {
		opacity: 0;
		animation: fadeIn 0.75s var(--ease-in-quad) 0.9s forwards;
	}

	.social-links {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.footer-link {
		width: 2.5rem;
		height: 2.5rem;
		display: flex;
		place-items: center;
		opacity: 0.75;
		font-size: 1.25rem;
		color: var(--page-color);
		transition: all 0.2s ease-out;

		&:hover {
			opacity: 1;
			background-color: rgb(from var(--page-color) r g b / 0.25);
			transform: scale(1.125);
			transition: none;
		}

		&:focus-visible {
			opacity: 1;
			transform: scale(1.25);
			outline: 1px solid var(--page-color);
			outline-offset: 2px;
		}
	}
</style>
