---
import { Icon } from 'astro-icon/components'
import Button from '@components/Button.astro'
import PerspectiveScroll from '@components/PerspectiveScroll.astro'
---

<footer class="main-footer" transition:name="footer">
  <div class="footer-content">
    <div class="footer-links-wrap">
      <a
        href="mailto:mattaningram@gmail.com"
        class="footer-link email-link"
        data-visitors-event="Contact Link"
        data-visitors-type="Email"
      >
        <Icon name="email" />
        Email
      </a>
      <a href="/resume" class="footer-link resume-link">
        <Icon name="document" />
        Resume
      </a>
    </div>

    <div class="footer-links-wrap">
      <a
        class="footer-link social-link"
        href="https://github.com/mattaningram"
        aria-label="Github"
        target="_blank"
        data-visitors-event="Contact Link"
        data-visitors-type="Github"
      >
        <Icon name="github-solid" />
      </a>

      <a
        class="footer-link social-link"
        href="https://www.linkedin.com/in/mattaningram"
        aria-label="LinkedIn"
        target="_blank"
        data-visitors-event="Contact Link"
        data-visitors-type="LinkedIn"
      >
        <Icon name="linkedin-solid" />
      </a>

      <a
        class="footer-link social-link"
        href="https://x.com/mattaningram"
        aria-label="X"
        target="_blank"
        data-visitors-event="Contact Link"
        data-visitors-type="X"
      >
        <Icon name="x-solid" />
      </a>

      <a
        class="footer-link social-link"
        href="https://instagram.com/mattaningram"
        aria-label="Instagram"
        target="_blank"
        data-visitors-event="Contact Link"
        data-visitors-type="Instagram"
      >
        <Icon name="instagram-solid" />
      </a>

      <a
        class="footer-link social-link"
        href="https://open.spotify.com/user/mattaningram"
        aria-label="Spotify"
        target="_blank"
        data-visitors-event="Contact Link"
        data-visitors-type="Spotify"
      >
        <Icon name="spotify-solid" />
      </a>
    </div>
  </div>
</footer>

<style lang="scss">
  @use '../styles/scssVariables' as *;

  .main-footer {
    text-align: center;
    position: relative;
    margin: 0 auto;
    margin-top: var(--page-section-margin);
    margin-bottom: var(--spacing-8);
    width: 100%;
    max-width: var(--page-content-width);
    padding: 0 var(--page-gutter);
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    margin-inline: calc(var(--spacing-5) * -1);

    @media (width < $breakpoint-md) {
      flex-direction: column;
      align-items: center;
    }
  }

  .footer-links-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-link {
    height: 2.5rem;
    display: flex;
    padding: 0 var(--spacing-5);
    align-items: center;
    justify-content: center;
    gap: var(--spacing-4);
    color: hsl(from var(--page-color) h s l / 0.5);
    flex: 1;
    font-size: 0.875rem;
    transition: 0.15s var(--ease-out-quad);
    transition-property: color;

    &:hover {
      color: var(--page-color);
    }

    [data-icon] {
      font-size: 1.375rem;
    }
  }

  .social-link {
    [data-icon] {
      font-size: 1.125rem;
    }
  }
</style>
