---
import { Icon } from 'astro-icon/components'
---

<footer class="main-footer">
	<div class="link-icon-wrap">
		<a class="link-icon" href="https://github.com/mattaningram" aria-label="Github" target="_blank">
			<Icon name="github-solid" />
		</a>

		<a class="link-icon" href="https://www.linkedin.com/in/mattaningram" aria-label="LinkedIn" target="_blank">
			<Icon name="linkedin-solid" />
		</a>

		<a class="link-icon" href="https://x.com/mattaningram" aria-label="X" target="_blank">
			<Icon name="x-solid" />
		</a>

		<a class="link-icon" href="https://instagram.com/mattaningram" aria-label="Instagram" target="_blank">
			<Icon name="instagram-solid" />
		</a>

		<a class="link-icon" href="https://open.spotify.com/user/mattaningram" aria-label="Spotify" target="_blank">
			<Icon name="spotify-solid" />
		</a>
	</div>

	<a href="mailto:mattaningram@gmail.com" class="email-link" target="_blank"><Icon name="email" size={24} /> Say Hi </a>
</footer>

<style lang="scss">
	.main-footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		text-align: center;
		position: relative;
	}

	.social-links-wrap {
		opacity: 0;
		animation: fadeIn 0.75s var(--ease-in-quad) 0.9s forwards;
	}

	.email-link {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: var(--spacing-4);
		color: var(--page-color);
		text-decoration: none;
		padding: var(--spacing-2);
		padding-right: var(--spacing-4);
		text-wrap: nowrap;
		flex-wrap: nowrap;

		&:hover {
			background: var(--page-color);
			color: var(--bg-color);
			transform: scale(1.05);
		}

		&:focus-visible {
			outline: 1px solid var(--page-color);
			outline-offset: 2px;
			transform: scale(1.05);
		}
	}
	.link-icon-wrap {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: var(--spacing-4);
		gap: var(--spacing-6);
	}

	.link-icon {
		font-size: 1.125rem;
		color: var(--page-color);
		transition: all 0.2s ease-out;

		&:hover {
			transform: scale(1.25);
		}

		&:focus-visible {
			transform: scale(1.25);
			outline: 1px solid var(--page-color);
			outline-offset: 2px;
		}
	}
</style>
