---
const { class: className, ...rest } = Astro.props
---

<div class:list={['viz-cadence', className]} {...rest} aria-hidden="true">
  <svg class="viz-svg" viewBox="0 0 152.311 243.66" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      class="cad-zone"
      d="M15.0424 241.487L14.9665 241.585V241.628L14.8363 241.882L14.793 241.896L14.7821 242.009L14.8906 242.065L15.0424 241.727L15.0316 241.642L15.0641 241.6L15.1074 241.628L15.1725 241.529L15.9534 241.825L15.8341 242.305V242.348L16.0944 242.39L16.2028 241.91L17.7971 242.503H17.9272H17.9489L19.1202 242.447L19.1419 242.743L19.1744 243.068L19.207 243.392L19.2503 243.562L19.3263 243.66H19.5323L19.5974 243.59L19.6191 243.505L19.5865 243.251L19.4347 242.432L20.0421 242.404L20.5843 242.249L20.6819 242.376L20.7795 242.404L20.9965 242.291L21.0723 242.235V242.108L22.0267 241.84L22.0701 241.924L22.1135 242.009L22.2003 242.263L22.3195 242.475L22.4605 242.63L22.6883 242.672L22.7751 242.616L22.992 242.404L22.851 241.952L22.7317 241.628L25.5514 240.823L25.6924 241.233L25.9636 242.023L26.007 242.009L26.0503 241.924L25.725 241.091L25.7792 241.049L25.725 240.936L25.6816 240.964L25.6274 240.795L26.918 240.428L26.1696 237.69L29.4124 236.631L31.9501 242.136L38.0018 239.44L34.347 233.413L35.8544 232.453L36.2991 231.239L37.4704 230.251L40.8541 235.022L43.8583 232.763L40.019 228.825L41.5482 227.541L41.8627 227.809L41.841 227.837L41.9495 227.922L41.982 227.908L42.1881 228.091L42.3941 228.303L42.6978 228.642L42.9039 228.853L43.034 228.995L43.4787 229.475L43.5763 229.573L43.7281 229.827L43.945 230.096H43.9775L44.0209 230.166L44.086 230.223L44.0969 230.279L44.4981 230.745L44.6283 230.9L44.6933 230.971L44.7909 231.084L44.8452 231.154L44.8994 231.239L44.9645 231.253L45.0512 231.352H45.1163L45.5718 230.999L45.3115 230.66L45.4417 230.547L45.4525 230.533L45.3874 230.463L45.3766 230.477L42.3399 226.877L42.6761 226.595L42.9907 226.99L43.2184 226.821L42.893 226.411L43.8908 225.579L46.0056 228.077L46.7322 228.938L47.3504 228.43L47.383 228.388L44.5415 225.028L45.5176 224.209L49.2158 228.966L57.1654 222.403L54.4216 219.368L55.6145 218.422L54.7144 217.293L55.9399 216.63L56.2436 216.093L57.892 215.133L58.2716 214.385L63.9979 210.729L66.6659 209.939L72.5331 208.711L73.3791 208.923L75.9711 208.4L81.4805 207.285L81.2636 206.594L81.1985 206.608L81.1551 206.523L81.09 206.396L81.0033 206.184L80.9057 205.987L80.7864 205.69L81.1985 205.591L81.4046 205.563L81.5781 205.521L81.166 202.571L80.9925 201.371L80.9274 200.976L80.8623 200.651L80.5369 198.858L80.4719 198.548L80.4394 198.336L80.3959 198.096L80.3851 198.054L80.3309 197.39L80.2875 196.995L80.2224 196.219L80.1899 195.894L80.1465 195.471L79.7886 192.718L79.5934 190.544L79.5609 190.192L79.2898 188.173L78.5306 188.258L77.9666 188.3L75.2336 188.54L74.6805 188.625L74.1599 188.695L74.0732 188.709L73.6285 188.766L73.173 188.808L72.9778 188.822L72.6416 188.851L67.8588 189.246L65.0391 189.387H64.8656L66.0694 187.298L66.9044 185.717L67.707 183.981L68.5963 182.075L68.8241 181.736L69.0843 181.172L66.3839 180L64.1172 178.956L61.6987 177.883L59.5947 176.161L57.7185 174.396L56.0375 172.83L53.8685 170.811L53.4997 170.458L52.0898 169.146L49.9967 167.226L48.0771 165.433L47.3396 164.756L46.1249 163.612L44.0643 161.721L42.3399 160.239L42.0905 159.942L40.3335 158.305L39.2056 157.176L35.323 153.576L34.4988 152.814L34.0216 152.334L33.3601 151.755L32.5792 151.036L32.3731 150.838L30.3993 149.017L28.2953 147.097L26.0395 144.881L25.7141 144.867H25.4213L25.3888 145.121L24.9766 147.239L24.4561 150.626L24.2066 150.598L23.7728 150.542L22.9161 150.443L22.6775 150.429L22.71 150.245L21.9617 149.511L20.1939 160.055L9.48961 158.051L7.86282 167.438L18.437 168.666L17.9055 171.884L8.29662 170.275L6.55055 184.263L3.41625 183.924L3.38372 185.477L5.32503 185.59L1.54004 212.889L3.41625 213.383L3.19937 214.71L0.845929 215.147L0 218.733L0.195207 221.824L2.3209 227.752L4.3815 227.625L5.01051 229.446L8.11227 235.615L12.2118 240.428L13.9036 241.063L13.8386 241.148H13.7952L13.7518 241.218H13.7193L13.5349 241.543L13.6217 241.6L13.8277 241.261L13.9579 241.077L15.0424 241.487Z"
    ></path>
    <path
      class="cad-zone"
      d="M31.2554 81.7995L30.8433 81.7431L30.8758 81.4749L20.2257 79.1035L19.2822 85.7518L18.8809 94.5174L23.7938 94.7856L23.295 99.5143L25.7677 99.4578L24.7916 111.301L21.5055 111.004L21.6682 114.914L15.1827 114.392L14.9983 118.556L24.3253 118.401L24.0108 126.192L13.4908 124.71L11.1157 144.161L22.6985 145.079L21.961 149.511L22.7093 150.245L22.6768 150.428L23.7722 150.541L24.206 150.598L24.4554 150.626L24.976 147.238L25.3881 145.121L25.4206 144.867H25.7134L26.0388 144.881L28.2946 147.097L30.3986 149.017L32.3725 150.838L32.5785 151.035L33.3594 151.755L34.0209 152.334L34.4981 152.814L35.3224 153.576L39.205 157.175L40.3329 158.305L42.0898 159.942L42.3393 160.238L44.0637 161.721L46.1242 163.612L47.3389 164.755L48.0764 165.433L49.996 167.226L52.0891 169.145L53.499 170.458L53.8678 170.811L56.0368 172.829L57.7178 174.396L59.594 176.161L61.698 177.883L64.1166 178.955L66.3832 180L69.0837 181.172L69.8103 179.605L70.9274 177.191L72.7385 172.716L73.8665 169.173L73.9857 168.694L74.9943 165.631L75.6885 163.301L76.4801 160.662L77.2502 157.924L77.749 156.159L79.083 151.459L79.1698 151.162L79.2349 150.908L79.9724 148.226L80.3194 146.998L80.7423 145.431L81.5232 142.594L82.2498 139.941L82.7812 138.162L82.8029 137.315L83.4862 134.323L84.0502 132.149L84.549 129.876L84.6467 129.354L85.2865 126.743L85.6227 124.004L86.1433 121.308L86.6856 118.429L87.1411 115.493L87.0434 112.049L84.5599 110.51L83.2584 109.861L81.7618 109.084L76.209 106.092L66.8062 100.94L58.5095 96.4089L50.2238 91.8637L48.521 90.9321L42.5345 87.6574L41.9271 87.3327L37.2528 84.7355L34.856 83.4369L33.6522 82.7594L32.2098 81.9548L31.9387 81.8983L31.635 81.8701L31.2554 81.7995Z"
    ></path>
    <path
      class="cad-zone"
      d="M75.6888 163.3L74.9947 165.629L73.9861 168.692L73.8668 169.172L72.7388 172.715L70.9277 177.189L69.8107 179.603L69.084 181.17L68.8237 181.734L68.596 182.073L67.7067 183.979L66.9041 185.715L66.069 187.296L64.8652 189.385H65.0387L67.8585 189.244L72.6413 188.848L72.9775 188.82L73.1727 188.806L73.6282 188.764L74.0729 188.707L74.1596 188.693L74.6802 188.623L75.2333 188.538L77.9663 188.298L78.5302 188.256L79.2894 188.171L79.5606 190.189L79.5931 190.542L79.7883 192.716L80.1462 195.468L80.1895 195.892L80.2221 196.217L80.2872 196.993L80.3305 197.388L80.3956 198.094L80.439 198.334L80.4715 198.546L80.5366 198.856L80.862 200.649L80.9271 200.973L80.9921 201.369L81.1656 202.569L81.5778 205.519L81.4043 205.561L81.1982 205.589L80.7861 205.688L80.9054 205.984L81.0029 206.182L81.0897 206.394L81.1548 206.521L81.1982 206.605L81.2633 206.591L81.4801 207.283L89.8527 205.589L90.3841 209.076L113.148 205.914L112.986 204.432L122.974 203.175L123.972 202.456L125.946 200.564L127.475 198.277L133.462 180.337L136.867 165.163L140.435 146.107L140.37 141.689L139.871 141.364L139.698 141.195L139.535 141.068L139.351 140.927L139.134 140.729L135.49 138.654L128.494 134.674L128.18 134.518L127.226 134.053L127.16 134.039L126.824 133.869L124.97 132.853L123.538 132.062L121.694 131.046L118.072 128.957L114.949 127.207L113.55 126.459L111.565 125.4L108.734 123.89L108.485 123.763L101.522 119.98L94.9933 116.394L90.319 113.825L87.0437 112.047L87.1414 115.491L86.6859 118.427L86.1436 121.307L85.623 124.003L85.2868 126.741L84.647 129.352L84.5494 129.875L84.0505 132.147L83.4865 134.321L82.8033 137.313L82.7816 138.16L82.2502 139.939L81.5235 142.592L80.7427 145.43L80.3197 146.996L79.9727 148.224L79.2352 150.906L79.1701 151.16L79.0834 151.457L77.7493 156.157L77.2505 157.922L76.4805 160.66L75.6888 163.3Z"
    ></path>
    <path
      class="cad-zone"
      d="M27.5466 56.0238L23.5773 55.4027L20.2261 79.1024L30.8761 81.4737L30.8436 81.7419L31.2557 81.7983L31.6353 81.8689L31.939 81.8972L32.2101 81.9536L33.6525 82.7582L34.8564 83.4357L37.2532 84.7344L41.9275 87.3316L42.5348 87.6562L48.5214 90.931L50.2241 91.8626L58.5099 96.4077L66.8065 100.939L68.2706 98.3415L69.6263 95.8996L70.8735 93.6835L72.1207 91.4533L73.3679 89.2372L74.6151 87.0069L75.8514 84.7767L77.1637 82.4336L78.5845 79.8646L79.9943 77.3662L80.7318 76.0393L81.3066 75.023L82.6189 72.6799L83.942 70.3367L85.2543 67.9795L86.5666 65.6222L87.8789 63.279L89.1912 60.9359L90.5143 58.5928L91.9025 56.2496L92.6724 54.8804L93.269 53.7512L94.6572 51.2246L95.9477 48.8391L97.2708 46.4818L98.594 44.1528L99.9279 41.7955L101.219 39.4523L102.531 37.081L103.93 34.5543L97.2492 30.8844L95.6658 30.0233L91.3819 27.6661L87.3692 25.4782L70.7867 16.3879L68.5743 15.174L62.5009 11.8427L54.5622 7.49524L54.226 7.28352L53.8573 7.08588L53.6838 6.57775L53.1089 4.92624L46.6235 1.36919L46.9054 0.875144L45.3871 0L44.6388 1.41153L52.4365 5.98489L51.7099 7.10001L43.3916 2.59722L41.8841 5.63201L46.515 8.03163L42.0142 15.7809L37.8496 13.2825L34.9323 18.3076L41.6347 21.4271L37.9689 29.5152L35.4637 27.8778L34.1189 30.4609L35.9734 31.6466L31.4618 41.9508L27.7418 40.3416L24.1412 49.4742L28.9891 51.7045L28.7396 52.4526L26.9935 51.7045L26.3862 51.4504L26.2018 51.3798L26.05 51.7327L26.2235 51.8315L26.9502 52.1421L28.219 52.6784L28.6095 52.8478L27.5466 56.0238Z"
    ></path>
    <path
      class="cad-zone"
      d="M140.37 141.69L140.435 146.108L141.737 134.082L141.52 132.924L141.541 132.797L141.042 130.581L136.997 120.432L134.579 113.586L135.858 110.538L135.663 111.003L135.837 111.046L136.585 109.719L136.78 108.477L136.954 108.166L138.093 108.209L138.7 107.235L138.277 93.9944L141.032 80.613L140.641 80.2602L141.704 77.1689L142.16 76.4349L143.483 76.8584L144.166 75.8844L143.385 75.348L152.311 61.2044L151.779 60.8234L151.703 60.9363L132.128 50.0392L127.464 47.4703L125.122 46.1998L124.373 45.7905L123.104 45.113L122.714 44.9013L122.378 44.7177L120.697 43.772L118.018 42.304L113.354 39.7209L103.93 34.5547L102.531 37.0813L101.219 39.4527L99.9281 41.7959L98.5941 44.1531L97.271 46.4822L95.9479 48.8394L94.6573 51.2249L93.2691 53.7516L92.6726 54.8808L91.9026 56.25L90.5144 58.5931L89.1913 60.9363L87.879 63.2794L86.5667 65.6226L85.2544 67.9798L83.9421 70.3371L82.6191 72.6802L81.3068 75.0234L81.0682 75.4327L80.7319 76.0397L79.9945 77.3665L78.5846 79.8649L77.1639 82.4339L75.8516 84.7771L75.1792 85.991L74.6152 87.0073L73.368 89.2375L72.1208 91.4536L70.8736 93.6839L69.6264 95.9L68.2707 98.3419L66.8066 100.939L76.2095 106.091L81.7622 109.084L83.2589 109.86L84.5603 110.509L87.0439 112.048L90.3192 113.826L94.9935 116.395L101.522 119.981L108.485 123.764L108.734 123.891L111.565 125.401L113.55 126.46L114.949 127.208L118.072 128.958L121.695 131.047L123.538 132.063L124.97 132.854L126.824 133.87L127.161 134.04L127.226 134.054L128.18 134.52L128.495 134.675L135.49 138.655L139.134 140.73L139.351 140.928L139.535 141.069L139.698 141.196L139.871 141.365L140.37 141.69Z"
    ></path>
  </svg>
  <div class="cad-timeline">
    <div class="cad-axis"></div>
    <span class="cad-tick-fast" style="left: 0%"></span>
    <span class="cad-tick-fast" style="left: 14.286%"></span>
    <span class="cad-tick-fast" style="left: 28.571%"></span>
    <span class="cad-tick-fast" style="left: 42.857%"></span>
    <span class="cad-tick-fast" style="left: 57.143%"></span>
    <span class="cad-tick-fast" style="left: 71.429%"></span>
    <span class="cad-tick-fast" style="left: 85.714%"></span>
    <span class="cad-tick-fast" style="left: 100%"></span>
    <span class="cad-tick-slow" style="left: 0%"></span>
    <span class="cad-tick-slow" style="left: 50%"></span>
    <span class="cad-tick-slow" style="left: 100%"></span>
    <span class="cad-sweep"></span>
  </div>
  <span class="cad-label cad-label--fast">Fast</span>
  <span class="cad-label cad-label--slow">Slow</span>
</div>

<style lang="scss">
  .viz-cadence {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .viz-svg {
    width: 50%;
    height: auto;
    display: block;
  }

  .cad-zone {
    fill: var(--study-color);
    stroke: var(--study-color);
    stroke-width: 0.5;
    stroke-opacity: 0.4;
  }

  .cad-timeline {
    position: absolute;
    top: var(--spacing-6);
    left: var(--spacing-6);
    right: var(--spacing-6);
    height: 12px;
  }

  .cad-axis {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background: var(--study-border);
  }

  .cad-tick-fast,
  .cad-tick-slow {
    position: absolute;
    top: 0;
    width: 1.5px;
    height: 100%;
    background: var(--study-color);
    border-radius: 1px;
    opacity: 0.2;
    transform-origin: center;
  }

  .cad-tick-slow {
    opacity: 0;
  }

  @keyframes cad-tick-pulse {
    0% { transform: scaleY(1) scaleX(1); opacity: 0.2; }
    20% { transform: scaleY(2.2) scaleX(2); opacity: 0.9; }
    100% { transform: scaleY(1) scaleX(1); opacity: 0.2; }
  }

  .cad-tick-fast.is-pulsing,
  .cad-tick-slow.is-pulsing {
    animation: cad-tick-pulse 0.5s ease-out;
  }

  .cad-sweep {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    border-left: 1px dashed var(--study-color);
    opacity: 0;
  }

  .cad-label {
    position: absolute;
    bottom: var(--spacing-6);
    left: 0;
    right: 0;
    text-align: center;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: var(--study-text-muted);
  }

  .cad-label--slow {
    opacity: 0;
  }
</style>

<script>
  document.querySelectorAll<HTMLElement>('.viz-cadence').forEach((el) => {
    const svg = el.querySelector('svg')
    if (!svg) return

    const zones = Array.from(svg.querySelectorAll('.cad-zone')) as SVGElement[]
    const ticksFast = Array.from(el.querySelectorAll('.cad-tick-fast')) as HTMLElement[]
    const ticksSlow = Array.from(el.querySelectorAll('.cad-tick-slow')) as HTMLElement[]
    const sweep = el.querySelector('.cad-sweep') as HTMLElement
    const labelFast = el.querySelector('.cad-label--fast') as HTMLElement
    const labelSlow = el.querySelector('.cad-label--slow') as HTMLElement
    if (!sweep || !labelFast || !labelSlow) return

    // Fast: 8 ticks × 2s = 16s, Slow: 3 ticks × 5s = 15s, transitions 1s each = 34s
    const DUR = 34000
    const FAST_END = 16 / 34
    const TRANS1_END = 17 / 34
    const SLOW_END = 32 / 34
    const N_FAST = 8,
      N_SLOW = 3

    const fastSeq = [
      [0.3, 0.7, 0.5, 0.2, 0.6],
      [0.8, 0.15, 0.9, 0.5, 0.1],
      [0.1, 0.8, 0.2, 0.9, 0.4],
      [0.7, 0.3, 0.6, 0.1, 0.85],
      [0.15, 0.9, 0.3, 0.7, 0.2],
      [0.85, 0.1, 0.7, 0.25, 0.9],
      [0.2, 0.65, 0.1, 0.8, 0.3],
      [0.6, 0.2, 0.85, 0.4, 0.15],
    ]

    const slowSeq = [
      [0.5, 0.45, 0.65, 0.4, 0.55],
      [0.15, 0.8, 0.2, 0.75, 0.1],
      [0.7, 0.25, 0.85, 0.15, 0.6],
    ]

    function pulseTick(tk: HTMLElement) {
      tk.classList.remove('is-pulsing')
      void tk.offsetWidth
      tk.classList.add('is-pulsing')
    }

    const reduced = window.matchMedia('(prefers-reduced-motion: reduce)').matches
    if (reduced) {
      zones.forEach((z, i) => z.setAttribute('opacity', String(slowSeq[0][i])))
      labelFast.style.opacity = '0'
      labelSlow.style.opacity = '1'
      ticksFast.forEach((tk) => (tk.style.opacity = '0'))
      ticksSlow.forEach((tk) => (tk.style.opacity = '0.2'))
      return
    }

    let running = false
    let t0: number | null = null
    let prevFastTick = -1,
      prevSlowTick = -1

    const obs = new IntersectionObserver(([e]) => {
      const was = running
      running = e.isIntersecting
      if (running && !was) requestAnimationFrame(frame)
    })
    obs.observe(el)

    function frame(ts: number) {
      if (!running || document.hidden) {
        t0 = null
        return
      }
      if (!t0) t0 = ts
      const t = ((ts - t0) % DUR) / DUR

      if (t < FAST_END) {
        const p = t / FAST_END
        sweep.style.left = p * 100 + '%'
        sweep.style.opacity = '0.5'

        const tickIdx = Math.min(Math.floor(p * (N_FAST - 1)), N_FAST - 1)
        if (tickIdx !== prevFastTick) {
          prevFastTick = tickIdx
          pulseTick(ticksFast[tickIdx])
          const opacities = fastSeq[tickIdx]
          zones.forEach((z, i) => {
            ;(z as unknown as HTMLElement).style.transition = 'opacity 0.3s ease'
            z.setAttribute('opacity', String(opacities[i]))
          })
        }

        ticksFast.forEach((tk) => (tk.style.opacity = '0.2'))
        ticksSlow.forEach((tk) => (tk.style.opacity = '0'))
        labelFast.style.opacity = '1'
        labelSlow.style.opacity = '0'
      } else if (t < TRANS1_END) {
        const p = (t - FAST_END) / (TRANS1_END - FAST_END)
        sweep.style.opacity = String(Math.max(0, 1 - p * 4) * 0.5)

        if (prevFastTick !== -1) {
          prevFastTick = -1
          prevSlowTick = -1
          const target = slowSeq[0]
          zones.forEach((z, i) => {
            ;(z as unknown as HTMLElement).style.transition = 'opacity 0.6s ease'
            z.setAttribute('opacity', String(target[i]))
          })
        }

        ticksFast.forEach((tk) => (tk.style.opacity = String((1 - p) * 0.2)))
        ticksSlow.forEach((tk) => (tk.style.opacity = String(p * 0.2)))
        labelFast.style.opacity = String(1 - p)
        labelSlow.style.opacity = String(p)
      } else if (t < SLOW_END) {
        const p = (t - TRANS1_END) / (SLOW_END - TRANS1_END)
        sweep.style.left = p * 100 + '%'
        sweep.style.opacity = '0.5'

        const tickIdx = Math.min(Math.floor(p * (N_SLOW - 1)), N_SLOW - 1)
        if (tickIdx !== prevSlowTick) {
          prevSlowTick = tickIdx
          pulseTick(ticksSlow[tickIdx])
          const opacities = slowSeq[tickIdx]
          zones.forEach((z, i) => {
            ;(z as unknown as HTMLElement).style.transition = 'opacity 0.8s ease'
            z.setAttribute('opacity', String(opacities[i]))
          })
        }

        ticksFast.forEach((tk) => (tk.style.opacity = '0'))
        ticksSlow.forEach((tk) => (tk.style.opacity = '0.2'))
        labelFast.style.opacity = '0'
        labelSlow.style.opacity = '1'
      } else {
        const p = (t - SLOW_END) / (1 - SLOW_END)
        sweep.style.opacity = String(Math.max(0, 1 - p * 4) * 0.5)

        if (prevSlowTick !== -1) {
          prevSlowTick = -1
          prevFastTick = -1
          const target = fastSeq[0]
          zones.forEach((z, i) => {
            ;(z as unknown as HTMLElement).style.transition = 'opacity 0.4s ease'
            z.setAttribute('opacity', String(target[i]))
          })
        }

        ticksFast.forEach((tk) => (tk.style.opacity = String(p * 0.2)))
        ticksSlow.forEach((tk) => (tk.style.opacity = String((1 - p) * 0.2)))
        labelFast.style.opacity = String(p)
        labelSlow.style.opacity = String(1 - p)
      }

      requestAnimationFrame(frame)
    }
  })
</script>
