---
import WorkLayout from '@layouts/WorkLayout.astro'
import ImageCarousel from '@components/ImageCarousel.astro'
import SkillPanel from '@components/SkillPanel.astro'

export const frontmatter = {
	order: 1,
	title: 'Tally',
	year: '2017',
	position: 'Product Designer',
	logo: 'tally_logo.svg',
	color: 'rgb(58, 122, 219)',
	description: `Tally is an app that teaches you about your government representatives and their job performance. Instead of focusing just on beliefs or party, Tally scores your representatives by non-ideological factors like attendance, vote participation, and bill creation.`,
}
---

<WorkLayout {...frontmatter}>
	<div id="tally-slides" class="image-carousel-wrap">
		<ImageCarousel folder="tally" />
	</div>

	<div class="page-section skill-section">
		<SkillPanel title="Pixels" skills={['Sketch', 'Adobe Illustrator', 'InVision']} />
		<SkillPanel title="Code" skills={['HTML', 'SASS/CSS', 'JavaScript', 'SVG', 'React', 'GitHub']} />
		<SkillPanel title="Web" skills={['Responsive Design', 'Animations', 'BEM + OOCSS', 'Flexbox']} />
	</div>
</WorkLayout>
