---
import WorkLayout from '@layouts/WorkLayout.astro'
import ImageCarousel from '@components/ImageCarousel.astro'

export const frontmatter = {
	order: 1,
	title: 'Tally',
	year: '2017',
	position: 'Product Designer',
	logo: 'tally_logo.svg',
	color: 'rgb(58, 122, 219)',
	description: `Tally is an app that teaches you about your government representatives and their job performance. Instead of focusing just on beliefs or party, Tally scores your representatives by non-ideological factors like attendance, vote participation, and bill creation.`,
}
---

<WorkLayout {...frontmatter}>
	<div id="tally-slides" class="image-carousel-wrap">
		<ImageCarousel folder="tally" />
	</div>

	<div class="page-section skill-section">
		<div class="skill-panel">
			<h3 class="skill-list-header">Pixels</h3>
			<ul class="skill-list">
				<li class="skill-list-item">Sketch</li>
				<li class="skill-list-item">Adobe Illustrator</li>
				<li class="skill-list-item">InVision</li>
			</ul>
		</div>
		<div class="skill-panel">
			<h3 class="skill-list-header">Code</h3>
			<ul class="skill-list">
				<li class="skill-list-item">HTML</li>
				<li class="skill-list-item">SASS/CSS</li>
				<li class="skill-list-item">JavaScript</li>
				<li class="skill-list-item">SVG</li>
				<li class="skill-list-item">React</li>
				<li class="skill-list-item">GitHub</li>
			</ul>
		</div>
		<div class="skill-panel">
			<h3 class="skill-list-header">Web</h3>
			<ul class="skill-list">
				<li class="skill-list-item">Responsive Design</li>
				<li class="skill-list-item">Animations</li>
				<li class="skill-list-item">BEM + OOCSS</li>
				<li class="skill-list-item">Flexbox</li>
			</ul>
		</div>
	</div>
</WorkLayout>
