---
import WorkLayout from '@layouts/WorkLayout.astro'
import ImageCarousel from '@components/ImageCarousel.astro'

export const frontmatter = {
	order: 2,
	title: 'YaHerd',
	year: '2019',
	position: 'Co-Creator',
	logo: 'yaherd_logo_white.svg',
	logoOpen: 'yaherd_logo_purple.svg',
	workUrl: 'https://yaherd.co',
	color: 'rgb(147, 38, 255)',
	description: `YaHerd helps you share the when and where for any get together. Simple event invites, no accounts necessary. From a party to a protest, YaHerd makes getting people together as easy as pasting a link, with no ads, no tracking, and totally free.`,
}
---

<WorkLayout {...frontmatter}>
	<div class="image-carousel-wrap">
		<ImageCarousel folder="yaherd" width={300} />
	</div>

	<div class="page-section skill-section">
		<div class="skill-panel">
			<h3 class="skill-list-header">Pixels</h3>
			<ul class="skill-list">
				<li class="skill-list-item">Sketch</li>
				<li class="skill-list-item">Figma</li>
				<li class="skill-list-item">Adobe Illustrator</li>
			</ul>
		</div>

		<div class="skill-panel">
			<h3 class="skill-list-header">Code</h3>
			<ul class="skill-list">
				<li class="skill-list-item">Vue</li>
				<li class="skill-list-item">HTML</li>
				<li class="skill-list-item">SASS/CSS</li>
				<li class="skill-list-item">JavaScript</li>
				<li class="skill-list-item">SVG</li>
				<li class="skill-list-item">AnimeJS</li>
				<li class="skill-list-item">GitHub</li>
			</ul>
		</div>
	</div>
</WorkLayout>
