---
import WorkLayout from '@layouts/WorkLayout.astro'
import ImageCarousel from '@components/ImageCarousel.astro'

export const frontmatter = {
	order: 2,
	title: 'YaHerd',
	year: '2019',
	position: 'Co-Creator',
	logo: 'yaherd_logo_white.svg',
	logoOpen: 'yaherd_logo_purple.svg',
	workUrl: 'https://yaherd.co',
	color: 'rgb(147, 38, 255)',
	description: `YaHerd helps you share the when and where for any get together. Simple event invites, no accounts necessary. From a party to a protest, YaHerd makes getting people together as easy as pasting a link, with no ads, no tracking, and totally free.`,
}
---

<WorkLayout {...frontmatter}>
	<div class="image-carousel-wrap">
		<ImageCarousel folder="yaherd" width={300} />
	</div>

	<div class="page-section skill-section">
		<div class="skill-panel">
			<h3 class="skill-list-header">Pixels</h3>
			<ul class="skill-list">
				<li class="skill-list-item">
					<span class="skill-list-item-text">Sketch</span>
				</li>
				<li class="skill-list-item">
					<span class="skill-list-item-text">Figma</span>
				</li>
				<li class="skill-list-item">
					<span class="skill-list-item-text">Adobe Illustrator</span>
				</li>
			</ul>
		</div>

		<div class="skill-panel">
			<h3 class="skill-list-header">Code</h3>
			<ul class="skill-list">
				<li class="skill-list-item">
					<span class="skill-list-item-text">Vue</span>
				</li>
				<li class="skill-list-item">
					<span class="skill-list-item-text">HTML</span>
				</li>
				<li class="skill-list-item">
					<span class="skill-list-item-text">SASS/CSS</span>
				</li>
				<li class="skill-list-item">
					<span class="skill-list-item-text">JavaScript</span>
				</li>
				<li class="skill-list-item">
					<span class="skill-list-item-text">SVG</span>
				</li>
				<li class="skill-list-item">
					<span class="skill-list-item-text">AnimeJS</span>
				</li>
				<li class="skill-list-item">
					<span class="skill-list-item-text">GitHub</span>
				</li>
			</ul>
		</div>

		<div class="skill-panel">
			<h3 class="skill-list-header">Web</h3>
			<ul class="skill-list">
				<li class="skill-list-item">
					<span class="skill-list-item-text">CSS Variables</span>
				</li>
				<li class="skill-list-item">
					<span class="skill-list-item-text">CSS Grid</span>
				</li>
				<li class="skill-list-item">
					<span class="skill-list-item-text">Scoped Styles</span>
				</li>
			</ul>
		</div>
	</div>
</WorkLayout>
