---
import WorkLayout from '@layouts/WorkLayout.astro'
import ImageCarousel from '@components/ImageCarousel.astro'
import artemisSplashImage from '@media/artemis/artemis-splash-image.png'
import { Image } from 'astro:assets'

export const frontmatter = {
	order: 3,
	title: 'Artemis',
	year: '2018 to 2021',
	position: 'Lead Product Designer',
	logo: 'artemis_logo_white.svg',
	logoOpen: 'artemis_logo_color.svg',
	workUrl: 'https://artemisag.com',
	color: 'rgb(255, 64, 22)',
	description: `Artemis makes software to help farms grow. We helped simplify the complex management of people, plants, process, and legal compliance all in one place. At Artemis I was the lead designer through a significant redesign and refactor of the web and native apps to better serve large enterprise farms.`,
}
---

<WorkLayout {...frontmatter}>
	<div class="artemis-splash-image">
		<Image
			src={artemisSplashImage}
			width={artemisSplashImage.width}
			height={artemisSplashImage.height}
			alt="Artemis task timeline on a laptop and iPhone"
		/>
	</div>

	<div class="image-carousel-wrap">
		<ImageCarousel folder="artemis/gallery" width={300} />
	</div>

	<div class="page-section skill-section">
		<div class="skill-panel">
			<h3 class="skill-list-header">Pixels</h3>
			<ul class="skill-list">
				<li class="skill-list-item">Figma</li>
				<li class="skill-list-item">Adobe Suite</li>
				<li class="skill-list-item">Affinity Designer</li>
			</ul>
		</div>

		<div class="skill-panel">
			<h3 class="skill-list-header">Code</h3>
			<ul class="skill-list">
				<li class="skill-list-item">React</li>
				<li class="skill-list-item">Ruby</li>
				<li class="skill-list-item">SASS/CSS</li>
				<li class="skill-list-item">SVG</li>
				<li class="skill-list-item">GitHub</li>
			</ul>
		</div>
	</div>
</WorkLayout>

<style lang="scss">
	@use '../../styles/_scssVariables' as *;

	.artemis-splash-image {
		max-width: 100%;
		padding: 0 var(--page-gutter);
		margin-bottom: var(--spacing-11);

		img {
			display: block;
			margin: 0 auto;
			max-width: 100%;
			width: 1024px;
			height: auto;
		}
	}
</style>
