---
import WorkLayout from '@layouts/WorkLayout.astro'
import ImageCarousel from '@components/ImageCarousel.astro'

export const frontmatter = {
	order: 2,
	title: 'Code Climate',
	year: '2017 to 2018',
	position: 'Lead Product Designer',
	logo: 'codeclimate_logo_white.svg',
	workUrl: 'https://codeclimate.com',
	color: 'rgb(69, 210, 152)',
	description: `Code Climate helps teams write better code and work more efficiently. I redesigned Code Climate's core product features, managed their design system, and hired/mentored a new designer.`,
}
---

<WorkLayout {...frontmatter}>
	<div class="image-carousel-wrap">
		<ImageCarousel folder="codeclimate" width={300} />
	</div>

	<div class="page-section skill-section">
		<div class="skill-panel">
			<h3 class="skill-list-header">Pixels</h3>
			<ul class="skill-list">
				<li class="skill-list-item">Sketch</li>
				<li class="skill-list-item">Adobe Suite</li>
				<li class="skill-list-item">InVision</li>
			</ul>
		</div>

		<div class="skill-panel">
			<h3 class="skill-list-header">Analytics</h3>
			<ul class="skill-list">
				<li class="skill-list-item">Google Analytics</li>
				<li class="skill-list-item">Mixpanel</li>
				<li class="skill-list-item">FullStory</li>
				<li class="skill-list-item">Intercom</li>
			</ul>
		</div>

		<div class="skill-panel">
			<h3 class="skill-list-header">Code</h3>
			<ul class="skill-list">
				<li class="skill-list-item">HTML</li>
				<li class="skill-list-item">CSS</li>
				<li class="skill-list-item">JavaScript</li>
				<li class="skill-list-item">SVG</li>
				<li class="skill-list-item">Ruby</li>
				<li class="skill-list-item">HighCharts</li>
				<li class="skill-list-item">GitHub</li>
				<li class="skill-list-item">CircleCI</li>
			</ul>
		</div>
	</div>
</WorkLayout>
