---
import WorkLayout from '@layouts/WorkLayout.astro'
import ImageCarousel from '@components/ImageCarousel.astro'
import SkillPanel from '@components/SkillPanel.astro'

export const frontmatter = {
	order: 2,
	title: 'Code Climate',
	year: '2017 to 2018',
	position: 'Lead Product Designer',
	logo: 'codeclimate_logo.svg',
	workUrl: 'https://codeclimate.com',
	color: 'rgb(69, 210, 152)',
	description: `Code Climate helps teams write better code and work more efficiently. I redesigned Code Climate's core product features, managed their design system, and hired/mentored a new designer.`,
}
---

<WorkLayout {...frontmatter}>
	<div class="image-carousel-wrap">
		<ImageCarousel folder="codeclimate" width={300} />
	</div>

	<div class="page-section skill-section">
		<SkillPanel title="Pixels" skills={['Sketch', 'Adobe Suite', 'InVision']} />
		<SkillPanel title="Analytics" skills={['Google Analytics', 'Mixpanel', 'FullStory', 'Intercom']} />
		<SkillPanel title="Code" skills={['HTML', 'CSS', 'JavaScript', 'SVG', 'Ruby', 'HighCharts', 'GitHub', 'CircleCI']} />
	</div>
</WorkLayout>
