---
import WorkLayout from '@layouts/WorkLayout.astro'
import ImageCarousel from '@components/ImageCarousel.astro'

export const frontmatter = {
	order: 4,
	title: 'Revel',
	year: '2022 to 2025',
	position: 'Lead Product Designer',
	logo: 'revel_logo_white.svg',
	logoOpen: 'revel_logo_color.svg',
	workUrl: 'https://gorevel.com',
	color: 'rgb(1, 185, 242)',
	description: `Revel builds electric transportation and infrastructure. I led design for the full internal product stack, building web and native apps to manage thousands of drivers, passengers, and operations efficiently.`,
}
---

<WorkLayout {...frontmatter}>
	<div class="image-carousel-wrap revel-images">
		<ImageCarousel />
		<!-- <ul class="image-carousel xyz-in" xyz="fade down ease-out-back" id="photoswipe-gallery">
			<li class="carousel-item gallery-item xyz-nested">
				<a
					class="no-outline"
					href={revelRideDetailsImage.src}
					data-pswp-width={revelRideDetailsImage.width}
					data-pswp-height={revelRideDetailsImage.height}
				>
					<Image
						class="carousel-image"
						layout="fixed"
						fit="scale-down"
						src={revelRideDetailsImage}
						alt="Revel Ride Details"
						width={300}
					/>
				</a>
			</li>
			<li class="carousel-item gallery-item xyz-nested">
				<a
					class="no-outline"
					href="/assets/images/revel/revel-rides-list.png"
					data-pswp-width="2880"
					data-pswp-height="1800"
				>
					<img class="carousel-image" src="/assets/images/revel/revel-rides-list-thumb.png" alt="Revel Rides List" />
				</a>
			</li>
			<li class="carousel-item gallery-item xyz-nested">
				<a
					class="no-outline"
					href="/assets/images/revel/revel-schedule-concepts.png"
					data-pswp-width="3060"
					data-pswp-height="2370"
				>
					<img
						class="carousel-image"
						src="/assets/images/revel/revel-schedule-concepts-thumb.png"
						alt="Revel Schedule Concepts"
					/>
				</a>
			</li>
			<li class="carousel-item gallery-item xyz-nested">
				<a
					class="no-outline"
					href="/assets/images/revel/revel-shift-timeline.png"
					data-pswp-width="2880"
					data-pswp-height="1800"
				>
					<img
						class="carousel-image"
						src="/assets/images/revel/revel-shift-timeline-thumb.png"
						alt="Revel Shift Timeline"
					/>
				</a>
			</li>
			<li class="carousel-item gallery-item xyz-nested">
				<a
					class="no-outline"
					href="/assets/images/revel/revel-components-cluster.png"
					data-pswp-width="1492"
					data-pswp-height="1324"
				>
					<img
						class="carousel-image"
						src="/assets/images/revel/revel-components-cluster-thumb.png"
						alt="Revel Components Cluster"
					/>
				</a>
			</li>
		</ul> -->
	</div>
</WorkLayout>
