---
import WorkLayout from '../../layouts/WorkLayout.astro'

export const frontmatter = {
	order: 4,
	title: 'YaHerd',
	year: '2019',
	position: 'Co-Creator',
	logo: 'yaherd_logo_white.svg',
	logoOpen: 'yaherd_logo_purple.svg',
	workUrl: 'https://yaherd.co',
	color: 'rgb(147, 38, 255)',
	description: `YaHerd helps you share the when and where for any get together. Simple event invites, no accounts necessary. From a party to a protest, YaHerd makes getting people together as easy as pasting a link, with no ads, no tracking, and totally free.`,
}
---

<WorkLayout {...frontmatter}>
	<div class="image-carousel-wrap yaherd-image-row-1">
		<ul class="image-carousel xyz-in" xyz="fade down ease-out-back">
			<li class="carousel-item gallery-item">
				<a class="no-outline" data-fancybox="yaherd" href="/assets/images/yaherd/yaherd-homepage.png">
					<img class="carousel-image" src="/assets/images/yaherd/yaherd-homepage-thumb.jpg" alt="YaHerd Homepage" />
				</a>
			</li>
			<li class="carousel-item gallery-item">
				<a class="no-outline" data-fancybox="yaherd" href="/assets/images/yaherd/yaherd-demo-gif.gif">
					<img class="carousel-image" src="/assets/images/yaherd/yaherd-demo-gif.gif" alt="YaHerd Demo" />
				</a>
			</li>
			<li class="carousel-item gallery-item">
				<a class="no-outline" data-fancybox="yaherd" href="/assets/images/yaherd/yaherd-event-details.png">
					<img class="carousel-image" src="/assets/images/yaherd/yaherd-event-details.png" alt="YaHerd Event Details" />
				</a>
			</li>
			<li class="carousel-item gallery-item">
				<a class="no-outline" data-fancybox="yaherd" href="/assets/images/yaherd/yaherd-event-chat.png">
					<img class="carousel-image" src="/assets/images/yaherd/yaherd-event-chat.png" alt="YaHerd Event Chat" />
				</a>
			</li>
			<li class="carousel-item gallery-item">
				<a class="no-outline" data-fancybox="yaherd" href="/assets/images/yaherd/yaherd-event-people.png">
					<img class="carousel-image" src="/assets/images/yaherd/yaherd-event-people.png" alt="YaHerd Event People" />
				</a>
			</li>
			<li class="carousel-item gallery-item">
				<a class="no-outline" data-fancybox="yaherd" href="/assets/images/yaherd/yaherd-event-desktop.png">
					<img
						class="carousel-image"
						src="/assets/images/yaherd/yaherd-event-desktop-thumb.jpg"
						alt="YaHerd Event Desktop"
					/>
				</a>
			</li>
			<li class="carousel-item gallery-item">
				<a class="no-outline" data-fancybox="yaherd1" href="/assets/images/yaherd/yaherd-events-desktop.png">
					<img
						class="carousel-image"
						src="/assets/images/yaherd/yaherd-events-desktop-thumb.jpg"
						alt="YaHerd Events Desktop"
					/>
				</a>
			</li>
		</ul>
	</div>

	<div class="page-section skill-section">
		<div class="skill-panel">
			<h3 class="skill-list-header">Pixels</h3>
			<ul class="skill-list">
				<li class="skill-list-item">
					<span class="skill-list-item-text">Sketch</span>
				</li>
				<li class="skill-list-item">
					<span class="skill-list-item-text">Adobe Illustrator</span>
				</li>
				<li class="skill-list-item">
					<span class="skill-list-item-text">Adobe Photoshop</span>
				</li>
			</ul>
		</div>

		<div class="skill-panel">
			<h3 class="skill-list-header">Code</h3>
			<ul class="skill-list">
				<li class="skill-list-item">
					<span class="skill-list-item-text">Vue.js</span>
				</li>
				<li class="skill-list-item">
					<span class="skill-list-item-text">Node.js</span>
				</li>
				<li class="skill-list-item">
					<span class="skill-list-item-text">SASS/CSS</span>
				</li>
				<li class="skill-list-item">
					<span class="skill-list-item-text">GitHub</span>
				</li>
			</ul>
		</div>
	</div>
</WorkLayout>
