<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    <div class="page-content" aria-label="Content">
      {{ content }}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>
    
    <script src="/js/load-m-logo.js"></script>
    <script src="/js/job-titles.js"></script>
    <script src="/js/scripts.js"></script>
  </body>

</html>
