---
layout: page
---

<div class="header-background-wrap">
  <div class="header-background-gradient"></div>
  <div class="header-background-gradient-cover"></div>
</div>

<div class="page-header">
  {% if page.logo %}
    <img class="page-logo" src="/assets/logos/{{ page.logo }}" title="{{ page.title }} Logo" />
  {% else %}
    <h1 class="page-title">{{ page.title }}</h1>
  {% endif %}
  <span class="page-description">{{ page.position }} &ndash; {{ page.year }}</span>
  <a class="work-link button--themed" href="{{ page.work-link }}" target="_blank"><span class="button__text">View website</span></a>
</div>

<div class="grab-copy-wrap">
  <p class="grab-copy">{{ page.description }}</p>
</div>

{{ content }}
