html {
  background-color: $bg-color;
}

body {
  margin: 0;
}

.site-content {
  display: flex;
  margin: 0;
  min-height: 100vh;
  flex-direction: column;
}

.center-wrap {
  // position: absolute;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-footer {
  text-align: center;
}

.my-name {
  text-align: center;
  font-weight: 300;
  opacity: 0;
  animation: fadeIn .75s $ease-in-quad .5s forwards;
}

.main-content {
  position: relative;
  z-index: 10;
}

.menu-overlay {
  background-color: rgba(0,0,0,.5);
}

.m-logo-wrap {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  display: block;
  position: relative;
  // margin-top: -150px;
  // top: 50%;
  // margin-left: -150px;
  // left: 50%;
}

.m-logo {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
