html {
  background-color: $bg-color; 
}

body {
}

.center-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.my-name {
  text-align: center;
  font-weight: 300;
  opacity: 0;
  animation: fadeIn .75s $ease-in-quad .5s forwards;
}

.main-content {
  position: relative;
  z-index: 10;
}

.menu-overlay {
  background-color: rgba(0,0,0,.5);
}

.m-logo-wrap {
  width: 300px;
  height: 300px;
  display: block;
  position: relative;
  // margin-top: -150px;
  // top: 50%;
  // margin-left: -150px;
  // left: 50%;
}

.m-logo {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.m-red, .m-blue {
  fill-opacity: 0;
  fill: white;
  position: relative;
}

.m-logo-stroke {
  fill: none;
  stroke: white;
  stroke-width: .5;
} 

.m-red {
  animation: pulseLogoWhiteRed 1s $ease-in-quad .5s forwards;
}

.m-blue {
  animation: pulseLogoWhiteBlue 1s $ease-in-quad .5s forwards;
}

.m-logo-stroke-blue {
  &.m-logo-stroke-across {
    animation: fadeInLeft .3s $ease-out-back .1s both, 
               fadeOutRight .3s $ease-in-back 1.5s forwards;
  }
  &.m-logo-stroke-diag {
    animation: fadeInUpLeft .3s $ease-out-back .4s both, 
               fadeOutDownRight .3s $ease-in-back 1.8s forwards;
  }
  &.m-logo-stroke-up {
    animation: fadeInUp .3s $ease-out-back both, 
               fadeOutDown .3s $ease-in-back 1.4s forwards;
  }
}

.m-logo-stroke-red {
  &.m-logo-stroke-diag {
    animation: fadeInUpRight .3s $ease-out-back .3s both, 
               fadeOutDownLeft .3s $ease-in-back 1.7s forwards;
  }
  &.m-logo-stroke-up {
    animation: fadeInUp .3s $ease-out-back .2s both, 
               fadeOutDown .3s $ease-in-back 1.6s forwards;
  }
}