// $headerFontFamily:    "effra", "Helvetica Neue", Helvetica, Arial, sans-serif;
$bodyFontFamily:    "source-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;


html, body {
  color: white;
  font-family: $bodyFontFamily;
  font-weight: 300;
}

a {
  color: white;
}

h1, h2, h3, h4 {
  font-family: $bodyFontFamily;
}

.my-name {
  letter-spacing: 0.05em;
}

.footer-text {
  font-size: .85em;
  line-height: 40px;
  opacity: .65;
}
